<div class="container">
    <h1> Let's Set the Mood </h1>
    <div class="index-layout"> 
<%= button_to("Create a Profile", new_user_path, { :method => :get, :class => 'start-button' })%>
    </div>  
</div>