<h1> Let's Set the Mood </h1>

<% if flash[:errors] %>
<%= flash[:errors] %>
<% end %>

<%= button_to("Create a Profile", new_user_path, { :method => :get, :class => 'start_button' })%>

<%= button_to("Login", new_login_path, { :method => :get, :class => 'start_button' })%>