<% if flash[:success] %>
  <% flash[:success].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<div class="container">
    <%= button_to("Create a New Board", new_board_path, { :method => :get, :class => 'board-button' })%>

        <div class="index-layout">
        <% @boards.each do |board| %>
            <div class="board-index-card">
                <%= link_to board.title, board_path(board) %> 
                <% if board.images.count > 0 %>
                    <img class="img-show" src = <%= board.images.first.img_url %> />
            <% else %>
            <p>No Inspo Yet!</p>
                <% end %>
            </div>
         <% end %>
    </div>
</div>
