

<div class="container">
    <%= button_to("Create a New Board", new_board_path, { :method => :get, :class => 'board-button' })%>

        <div class="index-layout">
        <% @boards.each do |board| %>
            <div class="home-index-card">
                <%= link_to board.title, board_path(board) %> 
                <% if board.images.count > 0 %>
                    <img class="img-show" src = <%= board.images.first.img_url %> />
                <% end %>
            </div>
         <% end %>
    </div>
</div>