
<div class="container">
    <div class="index-layout">
        
        <% @images.each do |image| %>
            <div class="index-card">

                <%= link_to image_tag("#{image.img_url}", width: "100", height: "100" ), image_path(image)%>
            </div>
        
            <% end %>
        </div>
    </div>
</div>
